<%= form_with(model: short_url, local: true) do |form| %>
  <% if short_url.errors.any? %>
    <div id="error_explanation" style="text-align:center;">
      <h2><%= pluralize(short_url.errors.count, "error") %> prohibited this short_url from being saved:</h2>

      <ul>
      <% short_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :long_url %>
  </div>

  <div class="actions" style="padding:20px;">
    <%= form.submit %>
  </div>
<% end %>
